<!DOCTYPE html>    
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>豬肉俠公益地圖</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/pages/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/pages/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/pages/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/pages/css/common.css" type="text/css">
    <link rel="stylesheet" href="/static/pages/css/home.css" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Pork Man Welfare Map</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">關於</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">服務</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/map">地圖</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">聯絡我們</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <!-- <div class="header-content">
            <div class="header-img"><img src="/static/pages/img/pigman.png" id="porkimg"></div>
            <div class="header-content-inner">
                <h1>豬肉俠公益地圖</h1>
                <hr>
                <h3>"人人有肉吃，就是我的俠義之道"</h3>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">瞭解更多</a>
            </div>
        </div> -->
    </header>
    <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-box">
                        <div class="header-img"><img src="/static/img/pigman2.png" id="porkimg"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 text-center">
                    <div class="header-content-inner">
                        <h1>豬肉俠公益地圖</h1>
                        <hr>
                        <h3>"人人有肉吃，就是我的俠義之道"</h3>
                        <a href="#about" class="btn btn-primary btn-xl page-scroll">瞭解更多</a>
                    </div>           
                </div>
            </div>           
        </div>
    </section>


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">一個結合了臺灣公益彩券行資料與臺灣各社福與慈善基構資料的臺灣專屬公益地圖</h2>
                    <hr class="light">
                    <h5 class="porkguy-desc">豬肉俠平常樂善好施，關心社會議題，對於幫助弱勢總是當仁不讓</h5>
                    <h5 class="porkguy-desc">堪稱21世紀廖添丁，心中最大的心願就是台灣人人有肉吃</h5>                    
                    <p class="explain-text">"OO彩券下期頭獎累積金額上看10億!..."，每當彩券頭獎金額新聞一出，便可看到各家彩券行前充滿著人潮，各個表情如此($~$)。豬肉俠每次看到此景便會陷入沉思 :</p>
                    <p class="explain-text-highlight">"難道大家都忘了台灣彩券的發行是為公益而存嗎?"</p>
                    <p class="explain-text-highlight">"是為了幫助弱勢嗎?"</p>
                    <p class="explain-text">為了提醒社會大眾公益彩券的成立初衷，熱情滿滿的豬肉俠就馬上著手計畫 ......</p>
                    <a href="#services" class="btn btn-default btn-xl page-scroll">服務介紹</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">我們的服務</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-12 text-center">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin: 30px;">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-usd wow bounceIn text-primary"></i>
                        <h3>公益彩券行</h3>
                        <p class="text-muted">標記所有彩券行位置，同時顯示該行累計頭獎次數</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>社服慈善機構</h3>
                        <p class="text-muted">地圖上標記全台灣社福慈善機構地點，依年度為索引，顯示其申請到的回饋金補助金額</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-fire wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>資料圖象化</h3>
                        <p class="text-muted">公益地圖各縣市會以顏色深淺來表示所得補助金額量多或少，讓您一目了然，了解各縣市社福資源不均的問題</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-up wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>資訊透明化</h3>
                        <p class="text-muted">公布各個回饋金計畫審核內容，與得到補助後實行成果</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="/map" class="btn btn-primary btn-xl wow tada" style="margin: 60px 0px 0px;">開始使用地圖</a>
                </div>
            </div>
                        
        </div>
        
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">聯絡豬肉俠</h2>
                    <hr class="primary">
                    <p>歡迎社福慈善機構來電，豬肉俠會立即出動，予以協助!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn" style="color: #37b34a;"></i>
                    <p style="color: #37b34a;">+886 2 2752 8851</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color: #37b34a;"></i>
                    <p><a href="mailto:your-email@your-domain.com" style="color: #37b34a;">info@gliacloud.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/pages/js/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function(){
            for(var i=0;i<1000;i++){
                $('#porkimg').parent().animate({"padding-top":'+=20px'}, 1000);
                $('#porkimg').parent().animate({"padding-top":'-=20px'}, 1000);  
            }                
        });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/pages/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/pages/js/jquery.easing.min.js"></script>
    <script src="/static/pages/js/jquery.fittext.js"></script>
    <script src="/static/pages/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/pages/js/creative.js"></script>

</body>
</html>