# A high-level Python Web framework that encourages rapid development and clean, pragmatic design.
# https://pypi.python.org/pypi/Django/1.9.2
Django==1.9.2


# Python HTTP for Humans.
# https://pypi.python.org/pypi/requests/2.7.0
requests==2.7.0


# Library for developers to extract data from Microsoft Excel (tm) spreadsheet files
# https://pypi.python.org/pypi/xlrd/0.9.4
xlrd==0.9.4


# PDF parser and analyzer
# https://pypi.python.org/pypi/pdfminer3k/1.3.0
pdfminer3k==1.3.0


# Web APIs for Django, made easy.
# https://pypi.python.org/pypi/djangorestframework/3.3.2
djangorestframework==3.3.2


# Django-filter is a reusable Django application for allowing users to filter querysets dynamically.
# https://pypi.python.org/pypi/django-filter/0.12.0
django-filter==0.12.0


# Swagger UI for Django REST Framework 2.3.8+
# https://pypi.python.org/pypi/django-rest-swagger/0.3.5
django-rest-swagger==0.3.5


# django-cors-headers is a Django application for handling the server headers required for Cross-Origin Resource Sharing (CORS).
# https://pypi.python.org/pypi/django-cors-headers/1.1.0
django-cors-headers==1.1.0


# A Django plugin for py.test.
# https://pypi.python.org/pypi/pytest-django/2.9.1
pytest-django==2.9.1


# pytest: simple powerful testing with Python
# https://pypi.python.org/pypi/pytest/2.8.3
pytest==2.8.3


# Pytest plugin for measuring coverage.
# https://pypi.python.org/pypi/pytest-cov/2.2.0
pytest-cov==2.2.0



# the modular source code checker: pep8, pyflakes and co
# https://pypi.python.org/pypi/flake8/2.5.4
flake8==2.5.4


# A tool that automatically generate coverage report
# https://pypi.python.org/pypi/autocov/2016.02.20.1
autocov==2016.02.20.2

