.page-header {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
}
.navbar-default {
  background-color: #eecc29;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #222222;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: white;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: white;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #eecc29 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
#donate .page-header {
  width: 70%;
  margin-left: 15%;
}
#donate .page-header h3 {
  display: inline-block;
}
#donate .page-header .btn {
  display: inline-block;
  margin-left: 80%;
}
#donate .table {
  width: 70%;
  margin-left: 15%;
}
#donate .table .tb_donate a {
  font-size: 18px;
  color: rgba(34, 34, 34, 0.5);
  cursor: pointer;
}
#donate .table .tb_donate a .fa {
  margin-right: 5px;
}
#donate .table .tb_donate a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
#donate hr {
  max-width: 70%;
}
#donate h4 {
  width: 70%;
  margin-left: 15%;
}
#donate input {
  width: 70%;
  margin-left: 15%;
}
#donate .donate_money {
  margin-top: 20px;
}
#donate .donate_money .btn {
  margin-left: 75%;
  margin-top: 10px;
  width: 120px;
}
#profile .page-header {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}
#profile .form-horizontal {
  margin-left: 25%;
  width: 50%;
}
#my_events .page-header {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
}
#my_events .row {
  width: 70%;
  margin-left: 15%;
}
#single_event .page-header {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
}
#single_event .image {
  width: 70%;
  margin-left: 15%;
}
#single_event .table {
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
}
#single_event .table .tb_label {
  width: 20%;
  color: theme-dark;
  font-weight: bolder;
}
#single_event hr {
  max-width: 70%;
}
#single_event .action {
  max-width: 70%;
  margin-left: 15%;
  padding-bottom: 10%;
  text-align: right;
}
#single_event .add_ticket {
  width: 70%;
  margin-left: 15%;
}
#single_event .add_ticket .form-group label {
  text-align: left;
}
#m_single_event .page-header {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
}
#m_single_event .page-header h3 {
  display: inline-block;
}
#m_single_event .page-header form {
  display: inline-block;
  margin-left: 80%;
}
#m_single_event img {
  width: 70%;
  margin-left: 15%;
}
#m_single_event .form-group {
  width: 70%;
  margin-left: 15%;
}
#m_single_event .form-group label {
  text-align: left;
}
#m_single_event hr {
  max-width: 70%;
}
#m_single_event .action {
  max-width: 70%;
  margin-left: 15%;
  text-align: right;
}
#m_single_event .table {
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
}
#login .modal-body .input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
#login .modal-body .alert .fa-exclamation-circle {
  margin-right: 10px;
}
#register .modal-body .input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
#register .modal-body .alert .fa-exclamation-circle {
  margin-right: 10px;
}
#user_receipt .modal-dialog .modal-content .modal-body .table .tb_label {
  width: 20%;
  color: theme-dark;
  font-weight: bolder;
}
