#page-top {
  background-color: #ffe24d;
}
#content {
  width: 70%;
  margin-left: 15%;
}
.page-header {
  margin-top: 10%;
  border-bottom: 1px solid #37b34a; 
}
.page-header h3 {
  font-size: 30px;
  color: #16471d;
}
.address {
  float: right;
  margin-top: 25px;
  font-size: 15px;
  color: #808080;
}
.navbar-default {
  background-color: #16471d;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #ffed94;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: white;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #ffed94;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: white;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #158c28 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}


#content .row {
  width: 70%;
  margin-left: 15%;
}
#content .project {
  margin: 50px 0px;
}
#content .panel-heading {
  font-size: 20px;
  font-style: bold;
  background-color: #fff;
  color: #158c28;
} 
#content .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9ff99;
}
#content table .tb_label {
  width: 13%;
  color: #0c0c0c;
  font-weight: bolder;
}
#content .back {
  border-top: 1px solid #37b34a; 
}
#content .back a {
  margin: 20px 20px 60px;
  float: right;

}
.fb-share-button {
  margin-top: 30px;
  float: right;
}


